    *{
        margin: 0;
        
    }

    body{
        height: 96vh;
        background-color: #bcbcbc;
    }

    div{
        width: 500px;
        margin: auto;
    }

    #painel-login{ 0800 2821887
        position: absolute;

        background-color: #E5E5E5;
    }